h1 {
  text-align: center;
  font-weight: normal;
  position: sticky;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
  color: #565956;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.russianGirl{
  font-size: 35px;
  font-weight: 500;
}

h6{
  font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
  position: sticky;
  text-align: center;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #adadad;

}

h3{
  font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
  position: sticky;
  text-align: center;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #565956;
  font-weight: 400;
}

.bio{
  font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
  position: sticky;
  text-align: center;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 20px;
  color: #adadad;
}

body {
  background-color: #f9fcf7;
}

@import "compass/css3";

.navigation {
  list-style: none;
  margin: 0;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5em;

  -webkit-flex-flow: row wrap;
  justify-content: center;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #adadad;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }


  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
/*For Desktops */
.firstImage {
    float: left;
    margin-left: 17%;
    padding: 1em;
    width: 20%;

}
.firstImage1 {
    float: left;
    padding: 1em;
    margin-left: 17%;
    margin-top: 40px;
    margin-bottom: 17%;
    width: 20%;

}

.secondImage {
    padding: 1em;
    width: 20%;
}

/*For Mobile Devices */
@media only screen and (max-width: 768px) {
    [class="firstImage"] {
        width: 100%;
        padding: 0;
        margin-left: 0;
        margin-bottom: 5px;
    }
    [class="secondImage"] {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    [class="firstImage1"] {
        width: 100%;
        padding: 0;
        margin-left: 0;
        margin-bottom: 15px;
    }
    [class="bio"]{
      width: 100%;
      padding: 0;
    }

    [class="theTextForMobile"]{
      margin-left: 50px;
      margin-right: 50px;
    }

    [class="copyRight"]{
          text-align: center;
          display: block;
          bottom: 0;
          padding-top: 10px;
          margin: auto;
          font-family: 'Open Sans Condensed', sans-serif;
          width: 10%;
          font-size: 70%;
    }
  }

.copyRight {
    text-align: center;
    display: block;
    bottom: 0;
    padding-top: 100px;
    margin: auto;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 10%;
    font-size: 70%;
}

#theText{
  margin-left: 20%;
  margin-right: 20%;
}
